<div ng-init="ctr.load()">
    <div>
        <h3 ng-show="ctr.model.id">Service</h3>
        <h3 ng-hide="ctr.model.id">New Service</h3>
        <form name="form" role="form" ng-submit="ctr.save()">
            <div>
                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" id="code" name="code" class="form-control" ng-model="ctr.model.code" ng-disabled="!ctr.isNewOrEdit()" maxlength="20" required />
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" ng-model="ctr.model.name" ng-disabled="!ctr.isNewOrEdit()" maxlength="100" required />
                </div>
                <div class="form-group">
                    <label for="serverUrl">Server URL</label>
                    <input type="text" id="serverUrl" name="serverUrl" class="form-control" ng-model="ctr.model.serverUrl" ng-disabled="!ctr.isNewOrEdit()" maxlength="200" required />
                </div>
                <div class="form-group">
                    <label for="serverPort">Server Port</label>
                    <input type="number" id="serverPort" name="serverPort" class="form-control" ng-model="ctr.model.serverPort" ng-disabled="!ctr.isNewOrEdit()" maxlength="5" required />
                </div>
                <div class="alert border-solid">
                    <div class="form-group">
                        <label for="thriftFileContent">Thrift File Content</label>
                        <textarea id="thriftFileContent" name="thriftFileContent" class="form-control" ng-model="ctr.model.thriftFile.content" ng-disabled="!ctr.isNewOrEdit()" maxlength="2000" />
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <div class="pull-left">
                            <button type="button" ng-hide="ctr.isNewOrEdit()" ng-click="ctr.build()" class="btn btn-primary">Build</button>
                            <button type="button" ng-hide="ctr.isNewOrEdit()" ng-click="ctr.geLastBuild()" class="btn btn-primary">Last Build</button>
                        </div>
                        <div class="pull-right">
                            <div class="input-group">
                                <select id="language" name="language" class="form-control width-unset" ng-hide="ctr.isNewOrEdit()" ng-model="ctr.downloadModel.selectedLanguage" ng-options="item.value for item in ctr.downloadModel.languages track by item.id"></select>
                                <button type="button" class="btn btn-primary" ng-hide="ctr.isNewOrEdit()" ng-click="ctr.download()">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-show="ctr.isNewOrEdit()">Save</button>
                <button type="button" class="btn btn-primary" ng-hide="ctr.isNewOrEdit()" ng-click="ctr.edit()">Edit</button>
                <button type="button" class="btn btn-primary" ng-click="redirectOrganizationById(ctr.model.organization.id)">Back</button>
            </div>
        </form>
    </div>
</div>

<div id="modalBuilded" class="modal fade" modal-show="ctr.buildedModel.show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ng-hide="ctr.buildedModel.isConfirmation">Last Build Result</h4>
                <h4 class="modal-title" ng-show="ctr.buildedModel.isConfirmation">Build Confirmation</h4>
            </div>
            <div class="modal-body">
                <h4>Objects</h4>
                <div class="alert border-solid">
                    <span ng-repeat="object in ctr.buildedModel.content.objects">
                        {{object.name}}
                        <br />
                        {
                        <br />
                        <span ng-if="object.properties.length">
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <span class="text-success">//Attributes</span>
                            <br />
                            <span ng-repeat="property in object.properties">
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                {{property.name}} : {{property.myTypeWithoutNamespace}}
                                <br />
                            </span>
                            }
                            <br />
                        </span>
                        <span ng-if="!object.properties.length">
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <span class="text-success">//No Attributes</span>
                            <br />
                        </span>
                    </span>
                </div>
                <br />
                <h4>Routes</h4>
                <div class="alert border-solid">
                    <span ng-repeat="route in ctr.buildedModel.content.routes">
                        <select class="form-control width-unset" ng-show="ctr.buildedModel.isConfirmation" ng-model="route.httpMethodSelected" ng-options="item.value for item in ctr.buildedModel.httpMethods track by item.id"></select>
                        <span ng-show="route.httpMethodSelected.value">{{route.httpMethodSelected.value}}:</span>
                        <a ng-href="{{route.urlWithHost}}"><u>{{route.url}}</u></a>
                        <br />
                        {
                        <br />
                        <span ng-if="route.parameters.length">
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <span class="text-success">//Parameters</span>
                            <br />
                            <span ng-repeat="parameter in route.parameters">
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                {{parameter.name}} : {{parameter.myTypeWithoutNamespace}}
                                <br />
                            </span>
                        </span>
                        <span ng-if="!route.parameters.length">
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <span class="text-success">//No Parameters</span>
                            <br />
                        </span>
                        }
                        <br /><br />
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-show="ctr.buildedModel.isConfirmation" ng-click="ctr.confirmBuild()">Confirm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>